
.effects{
    background-color: #8b8b8b;
    width: 50rem;
    height: 50rem;
    position: relative;
    margin-bottom: 3rem;
    align-items: center;

    /* (para que las cajas hijas actúen inline) */
    display: grid; 
}
.one1{
    align-items:normal;
}
.square{
    background-color: #000;
    width: 10rem;
    height: 10rem;
    position: relative;
    left: 0;
    top: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    animation: fade 2s 1;    
    /* animation:  bounce 2s ease-in-out infinite, */
                
/* 
    animation:   motion 5s 1s ease alternate 2,
                    gum .6s ease infinite; */

     /* animation-name: motion;
        animation-duration: 3s;
        animation-delay: 1s;
        animation-timing-function:ease;
        animation-direction: alternate;
        animation-iteration-count: infinite; */
}
.square:hover{
    animation: gum 2s 1 ease;
}
.squar{
    color: white;
    background-color: #552f7398;
    border-radius: 50%;
    padding: 1rem;
    box-shadow: 0 0 1rem .3rem rgba(219, 176, 232, 0.765);
    font-size: 1.6em;
    font-weight: 700;
    



}
.subbox{
    background-color: rgba(0, 255, 255, 0.169);
    border-radius: 1rem;
    margin: .5rem 0 .5rem 0;
    display: flex;
    flex-wrap: wrap-reverse;
}
.uno{
    justify-content: center;
}
.dos{
    justify-content: space-evenly;
}
.tres{
    justify-content: space-around;
}
.box{
    background-color: rgba(130, 0, 139, 0.306);
    width: 7rem;
    height: 7rem;
    margin: 4px;
    border-radius: 50%;
    box-shadow: inset 0 0 1rem .5rem rgba(78, 1, 102, 0.495);
    display: flex;
    justify-content: center;

}
.grid{
    background-color: #00080a43;
    width: 50rem;
    height: 50rem;
    position: relative;
    margin-bottom: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(3rem, auto);
    gap: 1rem;
    color: white;
    font-size: 1em;
    justify-self: center;

}
.lore1{
    background-color: rgba(88, 3, 96, 0.512);
    border: #000 2px solid;
}
.nestead-grid{
    grid-column: 1/3;
    grid-row: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
    justify-items: center;
    align-items: center;
}
.grid2{
    background-color: #00080a43;
    color: white;
    font-size: 1em;
    width: 50rem;
    height: 50rem;
    margin-bottom: 3rem;
    display: grid;
    grid-template-areas:'uno uno uno' 'dos dos tres' 'cuatro five five' 'six six six' 'six six six';
    /* gap: .3rem; */
    justify-self: center;
    text-align: center;
}
.lore2{
    /* border: rgba(170, 22, 228, 0.435) 3px solid; */
    box-shadow: inset 0 0 1rem .3rem rgba(219, 176, 232, 0.765);
    padding: 1.5rem;
}
.i{grid-area: uno; background-color: #003da8d0; }
.ii{grid-area: dos; background-color: #5d8ec9;}
.iii{grid-area: tres; background-color: #af32c89e;}
.iv{grid-area: cuatro; background-color: #2a828cc5;}
.v{grid-area: five; background-color: #090cd375;}
.vi{grid-area: six; background-color: #46466c;}
.cover{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 10rem;
    background-color: #8b8b8b;
    animation: slide 2s 1;


}

/* @keyframes motion{
    0%  {background-color: rgb(0, 0, 0);width: 10rem;height: 10rem;top: 0; left: 0;}
    25% {background-color: rgba(0, 4, 255, 0.8);width: 15rem;height: 15rem;border-radius: 50%;left:35rem; top:0; rotate: 90deg}
    50% {background-color: rgba(72, 0, 255, 0.8);width: 15rem;height: 15rem;border-radius: 50%;top:35rem;left:35rem; rotate: 180deg}
    75% {background-color: rgba(153, 0, 255, 0.8);width: 15rem;height: 15rem;border-radius: 50%;top:35rem;left:0; rotate: 270deg}
    100%{background-color: rgba(0, 0, 0, 0.8);width: 10rem;height: 10rem;top: 0; left: 0; rotate: 360deg} 
}*/
@keyframes  gum{
    33%{transform: scaleY(1.15) scaleX(.85);}
    50%{transform: scaleY(1) scaleX(1);}
    66%{transform: scaleY(.95) scaleX(1.05);}
}
/* @keyframes bounce {
    20% , 50%, 80%{transform: translateY(0rem);}
    40%{transform: translateY(-4rem);}
    60%{transform: translateY(-2.5rem);}
}
@keyframes slide {
    0%{left: 0;}
}
@keyframes fade {
    0%{opacity: 0;}
}
@media screen and (max-width:700px) {
    .container{
        font-size: 10px;
        max-width: 50rem;
    }  
    .grid{
        width: 20rem;
        height: 40rem;
        grid-template-columns: 1fr 1fr;
    }

} */