<p>effects works!</p>
<div class="container">
    <div class="effects one1">
        <div class="square"><div class="cover"></div><p class="squar">Square</p></div>
        
    </div>
    <div class="effects two2">
        <p>Bloques</p>
        <div class="subbox uno">
            <div class="box"></div><div class="box"></div><div class="box"></div>
        </div>        
        <div class="subbox dos">
            <div class="box"></div><div class="box"></div><div class="box"></div>
        </div>
        <div class="subbox tres">
            <div class="box"></div><div class="box"></div><div class="box"></div><div class="box"></div><div class="box"></div><div class="box"></div><div class="box"></div><div class="box"></div>
        </div>
    </div>
    <div class="grid">
        <div class="lore1 nestead-grid "> <div class="lore1">algo</div><div class="lore1">algo</div><div class="lore1">algo</div><div class="lore1">algo</div> </div>
        <div class="lore1">Excepturi dignissimos modi id dolorem laudantium, commodi dolore eveniet. Necessitatibus dignissimos qui eius excepturi veritatis distinctio ipsam quisquam quaerat nemo.</div>
        <div class="lore1">Tempora suscipit sequi, molestias quas illo optio officia. Debitis saepe sed repellat dolore porro corporis voluptatum, sapiente reiciendis beatae quaerat.</div>
        <div class="lore1">Accusantium nostrum provident rem delectus impedit vel odio, harum iure quo tenetur, laboriosam atque autem modi assumenda facilis itaque hic!</div>
        <div class="lore1">Tenetur aut beatae alias ut nulla ea inventore assumenda esse asperiores, omnis doloribus eaque ipsa repellendus architecto blanditiis facilis corporis?</div>
        <div class="lore1">Voluptatibus, voluptas fugiat placeat, adipisci consequuntur libero, velit amet sint magni sit quidem voluptatum? Debitis ex quasi amet cumque distinctio.</div>
        <div class="lore1">Magni perferendis, consectetur neque aliquid vitae cumque illo, aspernatur vero tenetur ratione numquam rerum expedita esse aperiam autem ullam necessitatibus.</div>
        <div class="lore1">Quisquam quia rem recusandae placeat. Quas dolores nemo omnis nulla architecto odit? Sequi officia impedit iusto consequatur quibusdam enim modi!</div>
        <div class="lore1">Debitis distinctio culpa voluptatem vitae ut. Quaerat cum, in voluptate rem consectetur unde illum, veniam recusandae similique iure deserunt mollitia.</div>
    </div>
    <div class="grid2">
        <div class="lore2 i"><p>UNO</p></div><div class="lore2 ii">DOS</div><div class="lore2 iii">TRES</div><div class="lore2 iv">CUATRO</div><div class="lore2 v">FIVE</div><div class="lore2 vi">SEX</div>
    </div>
</div>