<div class="container">
    <div class="row">
            <h2 class="xp">Experience</h2>
        <app-text-box2 class="row" [Tittle2]="'carácter'" [textContent2]="'detalles detalles detalles detalles detalles detalles detalles detalles detalles detalles detalles detalles detalles detalles detalles detalles detalles detalles detalles detalles detalles detalles detalles detalles detalles detalles detalles '"></app-text-box2> 
        <app-text-box2 class="row" [Tittle2]="'carácter'" [textContent2]="'detalles detalles detalles detalles detalles detalles detalles detalles detalles detalles detalles detalles detalles detalles detalles detalles detalles detalles detalles detalles detalles detalles detalles detalles detalles detalles detalles '"></app-text-box2> 
    </div>
</div>
