.container{
    /* border: 2px solid rgba(55, 55, 55, 0.09); */
    /* background-color: aqua; */
    /* border-radius: .3rem; */
    width: 100%;
    display: grid;
    position: relative;
    /* top: 4rem; */
}
.row{
    margin-top: .5rem;
    margin-bottom: 1rem;
    width: 100%;
}
.xp{
    display: inline-block;
    position: relative;
}
.edit{
    opacity: .4;
    transition-duration: 200ms;
    position: absolute;
    top: 2.5rem;
}
.edit:hover{
    opacity: 1;
    scale: 1.02;
}