<div class="container">
    <h3 class="ttl">Projects</h3>
    <div class="gallery">
        <app-card01 [img_url]="'../../../assets/images/calc.png'" [ttl_card]="'Calculator'" [url]="''" [alt]="''"></app-card01>
        <app-card01 [img_url]="'../../../assets/images/igimg.png'" [ttl_card]="'Weather App'" [url]="''" [alt]="''"></app-card01>
        <app-card01 [img_url]="'../../../assets/images/calc.png'" [ttl_card]="'Organizer'" [url]="''" [alt]="''"></app-card01>
        <app-card01 [img_url]="'../../../assets/images/igimg.png'" [ttl_card]="'Weather App'" [url]="''" [alt]="''"></app-card01>
        <app-card01 [img_url]="'../../../assets/images/calc.png'" [ttl_card]="'Notes'" [url]="''" [alt]="''"></app-card01>
        <app-card01 [img_url]="'../../../assets/images/calc.png'" [ttl_card]="'Task List'" [url]="''" [alt]="''"></app-card01>
        <app-card01 [img_url]="'../../../assets/images/igimg.png'" [ttl_card]="'Weather App'" [url]="''" [alt]="''"></app-card01>
    </div>
</div>