.container{
    background-color: rgba(91, 92, 93, 0.2);
    border-radius: 1rem;
    box-shadow: .1rem .1rem .4rem .2rem rgb(121, 121, 121);
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 26rem;
    background-image: url('../../assets/images/background-card3.jpeg');
    background-size: 65rem;
    background-position: center;
}
.gallery{
    position: relative;
    height: 22rem;
    
    display: flex;
    overflow-x: auto;
    overflow-y:hidden;
    
    /* top: 1.7rem; */
    /* display: grid; */
    /* grid-template-rows: 1fr; */
    /* grid-template-columns: repeat(auto-fit , 12rem); */
    /* gap: 1rem; */
    

}
.ttl{
    font-size: 1.7rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    /* color: rgb(220,220,220); */
    color: black;
    text-shadow: white .1rem .1rem;
    letter-spacing: .4rem;
    margin: .7rem;
    position: relative;
    top: .7rem;
}
app-card01{
    position: relative;
    padding: 1rem;

    /* display: inline-block; */
}