<div class="container">
    <div class="column">
        <ul class="contact1">
            <li>Email: 6rodolfo6ramses6@gmail.com</li>
            <li><a href="">altern page</a></li>
            <li>
                <a href="https://www.instagram.com"><img class="contactlogo" src="../../assets/images/igimg.png"    alt=""></a>
                <a href="https://www.instagram.com"><img class="contactlogo" src="../../assets/images/fbimg.webp"   alt=""></a>
                <a href="https://www.instagram.com"><img class="contactlogo" src="../../assets/images/wpimg.png"    alt=""></a>
                <a href="https://www.instagram.com"><img class="contactlogo" src="../../assets/images/ximg.png"     alt=""></a>
            </li>
        </ul>
    </div>
    <div class="column">
        <p class="textopc">mucho text mucho text mucho text mucho text mucho text mucho text mucho text mucho text mucho text mucho text mucho text mucho text mucho text mucho text </p>
    </div>
</div>