
.container{
    position: fixed;
    min-width: 100vw;
    min-height: 100vh;
    left: 0;
    top: 0;
    align-items: center;
    justify-content: center;
    display: grid;

    /* transition: ease-in .2s ; */

    /* visibility: hidden; */
    /* opacity: 0; */

}


.overlay{
    min-width: 100%;
    min-height: 100%;
    background-color: rgba(56, 56, 56, 0.622);
    position: absolute;
    
}
.subcontainer{
    background-color: rgb(211, 211, 211);
    position: relative;
    border-radius: 1.5rem;
    
    transition: ease-in .2s ;
    
    visibility: hidden;
    opacity: 0;
    
    
    /* transition: opacity 0.3s ease, height 0.3s ease;  */
    /* transition: ease all 1s; */
    /* align-items: center; */
    /* justify-content: center; */
}
/* .subcontainer.active-visibility{
    visibility: visible;
    opacity: 1; 
} */
/* .container.active-visibility{
    visibility: visible;
    opacity: 1;
} */
/* .container:hover .subcontainer{
    visibility: visible;
    opacity: 1; 
} */
/* .container:focus .subcontainer{
    visibility: visible;
    opacity: .5;
} */

/* PARA QUE LA TRANSICIÓN SE EFECTÚE (POPUP SUAVE) RECURRO A UNA ANIMACIÓN, YA QUE LA TRANSICIÓN MISMA NO SE APLICA. */
.container .subcontainer{
    animation: popup 1s ;
    visibility: visible;
    opacity: 1;
}
@keyframes popup{
    from{visibility: hidden; opacity: 0;}
    to{visibility: visible; opacity: 1;}
}

.editable{
    width: 58rem;
    height: 28rem;
    margin: 2rem 0 2rem 2rem;
    overflow-y: auto;
}
.rows{
    padding: 0rem 1rem 2rem 1rem;
    width: 54rem;
    min-height: 22rem;
    display: grid;
    position: relative;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;   
}
.r2{
    margin: 1rem 0 2rem 0;
    min-height: 15rem;
}
.tittle{
    background-color: transparent;
    border: none;
}

.content{
    min-width: 100%;
    min-height: 70%;
    overflow: auto;
    background-color: rgba(227, 227, 227, 0.941);
    border-radius: 1rem;
    border:2px solid rgba(255, 255, 255, 0.527);
    padding: 1rem;
    box-shadow: 0 0 .3rem .1rem rgb(74, 74, 74);
    resize: none   
}

.p1{
    position: absolute;
    right: -2rem;
    top: 8rem;
}
.p2{
    position: relative;
    left: 3rem;
    bottom: 2rem;
    font-size: .5rem;
}
.bttn{
    background-color: rgba(255, 255, 255, .7);
    border-radius: 50%;
    border: rgba(60, 60, 60, 0.7) solid 1px;
    width: 2rem; 
    height: 2rem;
    align-self: center;
    transition-duration: 250ms;
    display: grid;
    justify-content: center;
}
.bttn:hover{
    scale: 1.15;
    background-color: rgba(255, 255, 255, .8);
    border: white solid 2px;
    box-shadow: 0 0 .15rem .08rem rgb(66, 66, 66);
}

.update{
    width: 10rem;
    position: absolute;
    bottom: .5rem;
    right: 3rem;
    font-weight: 700;
    letter-spacing: .5rem;
    color: rgb(110, 110, 110);
    background-color:  rgb(211, 211, 211);
    border: none;
}




.editable::-webkit-scrollbar{
    width: 6px;
    background-color: rgba(255, 255, 255, 0.701);
    border-radius: 3px;
}
.editable::-webkit-scrollbar-thumb{
    background-color: rgba(146, 146, 146, 0.941);
    border-radius: 3px;
    height: 3rem;
}
