.container{
    display:inline-flex;
    /* min-width: 100%; */
    border: 2px solid rgba(55, 55, 55, 0.09);
    border-radius: .3rem;
    margin-bottom: 2rem;
    justify-content: space-around;
}
.box{
    display: block;
    padding: 1rem;
}
.tittle{
    background-color: none;
}

.position{
    margin: 2rem;
    background-color: rgb(240, 240, 240);
    border: 2px solid rgba(55, 55, 55, 0.05);
    border-radius: .3px;
    position: relative;
}
.uno{
    max-width: 10rem;
}
.dos{
    max-width: 30rem;
} 