.container{
    background-color: rgb(234, 234, 234);
    position: absolute;
    left: .6rem;
    top: 15rem;
    min-width: 100%;
    padding: 5rem;
    height: auto;
    display: block;
}
.about-me{
    display:inline-flex;
    min-width: 100%;
    border: 2px solid rgba(55, 55, 55, 0.09);
    border-radius: .3rem;
    margin-bottom: 2rem;
    justify-content: space-around;
} 
.position{
    margin: 2rem;
    background-color: rgb(240, 240, 240);
    border: 2px solid rgba(55, 55, 55, 0.05);
    border-radius: .3px;
}

.box1{
    max-width: 10rem;
}
.box2{
    max-width: 30rem;
}