<div class="container">
    <div class="sect">
        <div>

        </div>
        <p class="a one" data="Error"><span>Error <br> 404</span>
            <span class="glitch g1">Error <br> 404</span>
            <span class="glitch g2">Error <br> 404</span>
            <span class="glitch g3">Error <br> 404</span>
            <span class="glitch g4">Error <br> 404</span>
            <br>
        <p class="a two" data="El recurso al que está intentando acceder no existe.">El recurso al que está intentando acceder no existe.</p>
    </div>
    <app-button-g class="return" [value_btn]="'Volver'" [link1]="'/about-me'"></app-button-g>
</div>