nav{
    background-color: rgb(156, 177, 213);
    max-width: .6rem;
    align-content:center;
    position:fixed;
    height: 100%;
    bottom: 0px;
    left: 0px;
}

.dropdown-menuP{
    list-style: none;
}

.despliegue{
    list-style: none;
    position: absolute;
    display: none;
    background-color: rgb(156, 177, 213);
    left: .6rem;
    padding-left: 0%;
    min-width: 250px;
    height: 500px;
    vertical-align: middle;
    border-right: .2rem groove rgba(7, 35, 83, 0.3);
    border-bottom: .2rem groove rgba(7, 35, 83, 0.3);
    border-radius: 0% 0px .3rem;

}

.margin{
    margin-top: 100rem;
}

.menu-option{
    background-color: rgb(121, 153, 207);
    position: relative;
    display: grid;
    margin: .1rem;
    padding: .6rem;
    border-radius: .3rem;
    border: .2rem groove rgb(101, 140, 206);
    opacity: .8;
}

.dropdown-menuP > li > a{
    display: inline-block;
    font-size: .8rem;
    color: rgb(255, 255, 255);
    text-decoration: none;
    position: relative;
    right: 1.4rem;
    background-color: rgb(156, 177, 213);
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: .2rem;
    top: 20rem;
    border-radius: 0% 1rem 1rem 0%;
    
}

.menu-option:hover {
    opacity: 1;
}

.dropdown-menuP > li:hover .despliegue {
    display: block;
    top: 2.3rem;
    opacity: 1;
    
}

/* ES PARA OSCURECER EL FONDO
.opacity{
    background-color: rgba(51, 51, 51, 0.5);
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    opacity: 0;
} */
