
<!-- <div class="opacity"></div> -->
<div>  
    <div class="overlay {{visibility}}" id="overlay">
        <div class="popup {{visibility}}">
            <ul class="list">
                <li><a class="menu-option" href="#">About me</a></li>
                <li><a class="menu-option" href="#">About me</a></li>
                <li><a class="menu-option" href="#">About me</a></li>
                <li><a class="menu-option" href="#">About me</a></li>
            </ul>
        </div>
    </div>
</div>
<nav>
    <div class="opncls" *ngIf="!visibility" (click)="open(0)">></div>
    <div class="opncls close" *ngIf="visibility" (click)="open(1)" >x</div>
</nav>
