
<div class="opacity"></div>
<nav>
    <ul class="dropdown-menuP">
        <li>
            <a href="#">></a>
            <ul class="despliegue">
                <li><a class="menu-option" href="#">About me</a></li>
                <li><a class="menu-option" href="#">Experience</a></li>
                <li><a class="menu-option" href="#">Training</a></li>
                <li><a class="menu-option" href="#">Projects</a></li>
                <li><a class="menu-option" href="#">Hard & Soft Skills</a></li>
            </ul>
        </li>
    </ul>
</nav>