nav{
    background-color: rgb(156, 177, 213);
    width: .6rem;
    align-content:center;
    position:fixed;
    display: grid;
    height: 100%;
    bottom: 0;
    left: 0;
    
}


.menu-option{
    background-color: rgb(235, 243, 255);
    position: relative;
    display: grid;
    margin: .1rem;
    padding: .6rem;
    border-radius: .3rem;
    border: .2rem groove rgb(101, 140, 206);
    margin-top: 1rem;
    margin-right: 1rem;
}

.overlay{
    position: fixed;
    display: grid;
    top: 2.3rem;
    left: .6rem;
    min-width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    visibility: hidden;
    opacity: 0;
    transition: 1s;
}
.overlay.active{
    visibility: visible;
    opacity: 1;
}
.popup.active{
    left:.6rem;
}
.popup{
    background: rgba(90, 90, 90, 0.404);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(2px);
    border: 1.5px solid rgba(209, 213, 219, 0.3);
    box-shadow: 0 0 .2rem .1rem rgba(120, 120, 120, .3);
    /* background-color: rgb(156, 177, 213); */
    position: fixed;
    width: 17rem;
    height: 40rem;
    left: -18rem;
    display: grid;
    transition:.5s;
}

.opncls{
    background-color:  rgb(156, 177, 213);
    color: white;
    width: .7rem;
    height: 3rem;
    padding-top: .6rem;
    border-radius: 0 .5rem .5rem 0;
    transition: .3s ease-out;
    font-weight: 700;
    /* transition-timing-function: cubic-bezier(.29, 1.01, 1, -0.68); */
    position: relative;
    right: -.62rem;

}

.opncls:hover{
    color: black;
    cursor: default;
}

.close{
    background: rgba(234, 234, 234, 0.404);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(2px);
    border: 1.5px solid rgba(209, 213, 219, 0.3);
}

.list{
    list-style: none;
    position: relative;
    top: 1rem;
    display: grid;
    /* row-gap: 0; */
}

