
<div class="container" id="hard&soft">
    <section class="tittle" id="t">
        <h2 class="ttl">Hard & Soft Skills
            <app-button-circular1 class="edit"></app-button-circular1>
        </h2>
        <a href="#hard&soft" class="a"></a>
        <a href="#hard&softs" class="a invs"></a>
    </section>
    <div class="hard invs">
        <div class="lines" *ngFor="let hs of sH, let i=index">
            <h4>{{sH[i].tittle}}</h4>
            <div class="columns">
                <img class="logoimg" src="{{sH[i].urlImg}}" alt="HTML_image">
                <div class="skill"><p>{{sH[i].description}}</p></div>
            </div>
        </div>
    </div>
    <div class="soft invs">
        <div class="column">
            <ul>
                <li *ngFor="let ss1 of col1">{{ss1}}</li>
            </ul>
        </div>
        <div class="column">
            <ul>
                <li *ngFor="let ss2 of col2">{{ss2}}</li>
            </ul>
        </div>
    </div>
</div>