.container{
    width: 98%;
}
.ttl{
    position: relative;
    display: inline-block;
}
.hard{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.soft{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1rem;
}
.line{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;    
}
.skill{
    margin-top: 2rem;
}
.column ul{
    list-style-type: none;
    margin-left: 3rem;
}
.logoimg{
    height: 3rem;
    width: 3rem;
    opacity: .8;
    filter: drop-shadow(0 0 .5rem rgb(0, 0, 0))
}
/* .edit{
    opacity: .4;
    transition-duration: 200ms;
    position: absolute;
    top: 2.5rem;
 }
 .edit:hover{
    opacity: 1;
    scale: 1.02;
 } */
.ang{
    height: 4rem;
    width: 4rem;
    position: relative;
    left: -.5rem;
}