
<div class="container">
    <div class="tittle"><h2>Hard & Soft Skills</h2></div>
    <div class="hard">
        <div class="line">    
            <div class="grader">
                <p>HTML</p>
                <img class="logoimg" src="../../assets/images/htmlimg.avif" alt="HTML_image">
            </div>
            <div class="skill"><p>hard skill 1</p></div>
        </div>
        <div class="line">    
            <div class="grader">
                <p>CSS</p>
                <img class="logoimg" src="../../assets/images/CSS3img.svg.png" alt="CSS_image">
            </div>
            <div class="skill"><p>hard skill 2</p></div>
        </div>
        <div class="line">    
            <div class="grader">
                <p>Typescript</p>
                <img class="logoimg" src="../../assets/images/tsimg.png" alt="TS_image">
            </div>
            <div class="skill"><p>hard skill 3</p></div>
        </div>
        <div class="line">    
            <div class="grader">
                <p>Angular</p>
                <img class="logoimg ang" src="../../assets/images/angularimg.svg.png" alt="Angular_image">
            </div>
            <div class="skill"><p>hard skill 4</p></div>
        </div>
    </div>
    <div class="soft">
        <div class="column">
            <ul>
                <li>Soft Skill 01</li>
                <li>Soft Skill 02</li>
                <li>Soft Skill 03</li>
            </ul>
        </div>
        <div class="column">
            <ul>
                <li>Soft Skill 04</li>
                <li>Soft Skill 05</li>
                <li>Soft Skill 06</li>
            </ul>
        </div>
    </div>
</div>