<div class="containerg">
    <app-banner class="ban"></app-banner>
    <div class="sub-container">
        <app-about-me class="abMe"></app-about-me>
        <br>
        <app-experience class="xp"></app-experience>
        <app-h-s-skills class="hs"></app-h-s-skills>
        <app-projects></app-projects>

        <!-- ÚLTIMO (dentro de sub-container)-->
        <app-modify-form *ngIf="this.emFormSv.validator_emergentForm" ></app-modify-form>
    </div>

    <!-- CONTACT is the last one -->
    <app-contact></app-contact>
</div>