.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, .08fr);
    min-width:101%;
    justify-items: center;
    
    /* background-color: rgba(196, 37, 178, 0.504); */
    /* margin-left: -4.34rem; */
    /* max-height: 100rem; */

}
.sub-container{
    position: relative;
    top: 22rem;
    width: 80%;
}
.ban{
    display: inline-block;
    position: absolute;
    min-width: 100%;
    left: .6rem;
    top: 2.3rem;
}
.abMe{
    position: relative;
    
}
.xp{
    position: relative;
}