<div class="container">
    <div class="card3">
        {{pjI.name3}} {{pjI.subname3}}
        {{pjI.type3}} <span [ngStyle]="{color: pjI.level3>10 ? 'blue' : 'black'}">{{pjI.level3}}</span>
        <ul style="list-style: none;">
            <li *ngFor="let char of characteristics">{{char}}</li>
        </ul>
        
        <a class="mod_del" *ngIf="editor" [routerLink]="['/mod-card',i-1]" [queryParams]="{mod:'1'}">Modify</a><br>
        <!-- <a class="mod_del" [routerLink]="['/mod-card',i-1]" [queryParams]="{mod:'2'}">Delete</a><br> -->
        <a class="mod_del" *ngIf="editor" (click)="delDate(i-1)">Delete</a><br>
        <br>
        <p class="code">Code: {{i}}</p>
    </div>
    <app-extent *ngIf="editor" (extensionPj)="addDate($event)"></app-extent> <!-- esto significa que "extensionPj" se guarda en addDate -->
</div>